:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer buttons {
  .btn {
    @apply p-3 rounded-2xl text-center border border-gray-400;
    @apply transition-opacity duration-100;
    @apply cursor-pointer;
    @apply hover:opacity-80 hover:border-gray-200;
  }

  .btn-teal {
    @apply btn bg-teal-700
  }

  .btn-cyan {
    @apply btn bg-cyan-700
  }

  .btn-fuchsia {
    @apply btn bg-fuchsia-600
  }

  .street-fighter {
    @apply font-street-fighter;

    text-shadow: -1px -1px 0 #EEEEEE, 1px -1px 0 #EEEEEE, -1px 1px 0 #EEEEEE, 1px 1px 0 #EEEEEE;
  }
}
